<!DOCTYPE html>
<html>

   <head>
      <title>FCC Backend Challenges - Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>
            Timestamp Microservice
        </h1>
         <h3>
          Pass in either a unix timestamp or a natural language date <br>
          The API will return both the unix timestamp and natural language date as a JSON object.
        </h3>
        <h3>
          Example Input:
        </h3>
        <div>
          <p class="example">
            https://timestamp-generator.glitch.me/1288569600 <br>
            https://timestamp-generator.glitch.me/November 01, 2010 <br>
            https://timestamp-generator.glitch.me/Janeiro 15, 2018 
          </p>
        </div>
        <h3>
          Example Output:
        </h3>
        <div>
          
        
          <p class="example">
            {"unix":"1288569600","natural":"November 1, 2010"}
          </p>
        </div>
      </div>
   </body>

</html>



